<div>
    <h1>Add a product</h1>
    <form id="postProductForm">
        <input type="text" placeholder="Name" name="title">
        <input type="text" placeholder="Description" name="description">
        <input type="text" placeholder="Category" name="category">
        <input type="text" placeholder="Price" name="price">
        <input type="submit">
    </form>
</div>
<script src="/js/postProducts.js"></script>